@charset "UTF-8";
/* selector - by the way this is how to do comments in CSS */

* {
	margin:0;
	line-height:16px;
	box-sizing: border-box;
}

body {
	width: 100%;
	Height: 100%;
	background-color: Beige;
}

h2 {
	color: #B45F04;
	padding-left: 25%;
	padding-top: 50px;
	padding-bottom: 20px;
}

#Home {
	align: center;
	width: auto;
	height: 75%;
	padding-bottom: 10%;
	background-image: url(../images/circuit1.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}

#short_me {
	padding-top: 3%;
}

#Contact {
	align: center;
	width: auto;
	height: 700px;
	background-image: url(../images/footer_img.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: 100% 100%;
}

#main {
	padding-top: 30px;
	padding-bottom: 10px;
	width: 100%;
	align:center;
}

#main h1 {
	font-size: 32px;
	color: #3ADF00;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 20px;
}

#main h3 {
	font:italic bold 15px/30px Georgia, serif;
	position: relative;
	color: white;
	padding-left: 25%;
	padding-right: 25%;
	padding-top: 1%;
}

.centering_p {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

.my_img {
	 width: 150px;
	 height: 150px;
}

.text_set {
	font: italic bold 15px/30px Georgia, serif;
	position: relative;
	color: #585858;
	padding-right: 25%;
	padding-left: 25%;
	padding-top: 1%;
	padding-bottom: 5%;
}

.pubs_set {
	font: italic bold 15px/30px Georgia, serif;
	position: relative;
	color: #585858;
	padding-right: 25%;
	padding-top: 1%;
	padding-bottom: 2%;
}


/* If the browser window is smaller than 600px, make the columns stack on top of each other */
@media only screen and (max-width: 600px) {
    .footer {
    		float: right;
        display: block;
        width: 100%;
    }

}

.footer-col2 {
	padding-top: 35%;

}

.contact-list {
	font: italic bold 15px/30px Georgia, serif;
	color: #40FF00;
	padding-right: 20%;
	float: right;
	padding-top: 3%;
	padding-bottom: 5%;

}

.contact-el {
	padding-bottom: 10%;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #cc6600;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    opacity: 0.4;
}

#myBtn:hover {
    opacity: 0.8;
    background-color: #555;
}